<div class="container">
	<h1>{{user.first_name}} {{user.last_name}}</h1>	
	<h4 id="user-join-date"></h4>
	<ul>
		Responses
		{{#each responses}}
				<li><a href="/discussions/id/{{this.original_discussion}}">{{this.title}}</a></li>
		{{/each}}
	</ul>
</div>
<script>
	var date = new Date('{{user.created_on}}').toDateString();
	$(document).ready(function(){
		$('#user-join-date').text("Joined " + date);
	})
</script>